      <div class="jumbotron">
        <p>Do you have an idea for a trip but don't know how to execute it? Email us at <a href="mailto:trip-ideas@midwestdirtmafia.com">trip-ideas@midwestdirtmafia.com</a> and we can help you organize it.</p>
      </div>

